.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.login img{
    background-color: black;
    width: 100px;
    margin: 30px auto;
    object-fit: contain;
}