.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.login img{
    background-color: black;
    width: 100px;
    margin: 30px auto;
    object-fit: contain;
}
.login_container{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
}
.login_container h1{
    font-weight: 25px;
    margin: 20px 0;
}
.login_container form{
    display: flex;
    flex-direction: column;
}
.login_container form div{
   display: flex;
    flex-direction: column;
    gap: 5px;
}
.login_container form div input{
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: white;
  width: 100%;
  border: none;
  border: 1px solid lightgray;
    border-radius: 3px;
}
.login_container form input:hover{
    /* border: 1px solid #f0c14b; */
    outline: 2px solid #f0c14b;
}
.login_signinbutton{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}
.login_registerbutton{
    background-color: #e7e9ec;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}
.login_registerbutton:hover{
    background-color:var(--primary-shade);

}

.login_container p{
    font-size: 12px;
    margin-top: 15px;
    font-size: 14px;
}