.category {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 8px 10px;
}
.category a {
  text-decoration: none;
  color: rgb(35, 75, 35);
}
.category_container {
  position: relative;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
}
