.payment_header {
    font-size: 24px;
    font-weight: bold;
 
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}
.payment {
   
    padding: 30px;
   
}
.flex{
    display:flex;
    gap:20px;
     padding: 30px;
}
.flex h3{
    min-width:300px;
}
.flex img{

    width:80px !important;
}
.flex div{
    height: auto !important;
}
.payment_container{
    /* border:1px solid lightgray;
    padding:20px;
    border-radius:7px; */
    max-width: 350px;
    width: 100%;
}

.payment_price{
    padding: 20px;
}


.payment_price > div{

    display: flex;
    font-size: 16px;
    gap: 10px;
}
.payment_details button{

    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}
.payment_details button:hover{
    background-color: var(--primary-shade);
}
.loading{
display: flex;
align-items: center;
gap: 10px;
justify-content: center;
color: gray;

}