.payment_header {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}
.payment {
    /* max-width: 800px; */
    /* margin: 0 auto; */
    padding: 30px;
    /* background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; */
}
.flex{
    display:flex;
    gap:20px;
     padding: 30px;
}
.flex h3{
    min-width:300px;
}
.flex img{

    width:80px !important;
}
.flex div{
    height: auto !important;
}