* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fixed {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Header Container */
.header_container {
    display: flex;
    height: 70px;
    background-color: #1a1a1a;
    color: white;
    gap: 10px;
    align-items: center;
}

/* Logo */
.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.logo_container img {
    width: 80%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
}

/* Delivery section */
.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
}

.delivery p {
    font-size: 10px;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
}

.search select,
.search input {
    padding: 11px;
    font-weight: bold;
    outline: 1px solid white;
}

.search select {
    border: none;
}

.search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}

.search svg {
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
    cursor: pointer;
}

.search svg:hover {
    background-color: #d49644;
}

.search:focus-within {
    border: 2px solid rgb(235, 161, 173);
}

/* Orders Section */
.order_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
}

.order_container a {
    text-decoration: none;
    color: white;
}

.order_container p {
    font-size: 10px;
}

/* languageuage Dropdown */
.language {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.language img {
    width: 20px;
}

.language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
}

/* Cart */
.cart {
    position: relative;
    padding-left: 10px;
}

.cart span {
    position: absolute;
    font-weight: bold;
    top: -7px;
    font-size: 10px;
    left: 5px;
    color: orange;
}

/* Hover highlight */
.order_container a:hover,
.logo_container a:hover {
    border: 1px solid white;
    border-radius: 3px;
}

/* Lower navigation */
.lower_container {
    background-color: #232f3e;
    color: white;
}

.lower_container ul {
    display: flex;
    list-style: none;
    gap: 5px;
    padding: 5px 10px;
}

.lower_container ul li {
    padding: 8px;
    cursor: pointer;
}

.lower_container ul li:first-child {
    display: flex;
    gap: 2px;
    align-items: center;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .header_container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .lower_container ul li:not(:first-child) {
        display: none;
    }

    .language {
        display: none;
    }
}
