.container{
background-color: aliceblue;
padding: 30px;

}
.order_container{
background-color: #ffff;
padding: 20px;


}
.order_container h2{
border-bottom: 2px solid var(--primary-shade); 
padding: 20px;

}